/IDEA-encrypt/nbproject/private/
/IDEA-encrypt/build/
/IDEA-encrypt-binary/nbproject/private/
/IDEA-encrypt-binary/build/
/IDEA-encrypt-text1/nbproject/private/
/IDEA-encrypt-text/nbproject/private/
/IDEA-encrypt-text/build/
