/IDEA-encrypt/nbproject/private/
/IDEA-encrypt/build/
/IDEA-encrypt-binary/nbproject/private/
/IDEA-encrypt-binary/build/
/IDEA-encrypt-text1/nbproject/private/
/IDEA-encrypt-text/nbproject/private/
/IDEA-encrypt-text/build/
/IDEA_encrypt_bits_Nhom10_Lop02/nbproject/private/
/IDEA_encrypt_bits_Nhom10_Lop02/build/
/IDEA_encrypt_bits_Nhom10_Lop02/dist/
/IDEA_Nhom10_Lop02/nbproject/private/
/IDEA_Nhom10_Lop02/build/
/IDEA_Nhom10_Lop02/dist/
